<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="card" th:each="i: ${announcements}">
    <img src="https://placehold.co/300">
    <div>
        <h2 th:text="${i.title}">title</h2>
        <p th:text="${i.created_date}">price</p>
    </div>
</div>

</body>
</html>