<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{ nav.html::navbar }"></div>
<div th:if="${param.error}">
    ID 혹은 비밀번호가 잘못되었습니다.
</div>
<form action="/login" method="POST">
    <input name="username">
    <input name="password" type="password">
    <button type="submit">로그인</button>
</form>
</body>
</html>