<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{ nav.html::navbar }"></div>
<h2>회원가입</h2>
<form action="/registerMember" method="POST">
    <h4>아이디 필수</h4>
    <input name="username">

    <h4>비밀번호 필수</h4>
    <input name="password" type="password">

    <h4>닉네임 필수</h4>
    <input name="displayName">

    <h4>나이 선택</h4>
    <input name="age">

    <button type="Submit">Submit</button>
</form>
</body>
</html>